@tailwind base;
@tailwind components;
@tailwind utilities;







*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ font-family: 'Montserrat', sans-serif; 
 
    overflow-x: hidden;
    
}

.hero{
    background-image: url("../../public/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 993px;
    width: 100vw;
}
.footer{
  background-image: url("./assets/Footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 579px;
  width: 100vw;
}

.gradient-text {
  background: -webkit-linear-gradient(270deg, #22417A 0%, #3F78E0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.bordercorner{
  border-top-left-radius: 15px;  /* Top-left corner */
  border-top-right-radius: 15px; /* Top-right corner */
  border-bottom-left-radius: 0px; /* Bottom-left corner */
  border-bottom-right-radius: 15px;
}

@media only screen and (max-width: 600px) {

  body{ font-family: 'Montserrat', sans-serif; 
 
    overflow-x: hidden;
    
}
  .hero{background-size: cover;
    width: 100dvw;
    background-repeat: no-repeat;
    height: fit-content;
  }
}